<?xml version="1.0"?>

<model>
  <name>Panda Robot (Arm Only)</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Sebastian Wallkotter</name>
    <email>sebastian@wallkoetter.net</email>
  </author>

  <description>
    A sdf model of the Franka Emika Panda robot adapted from an existing urdf model.
    This model is intended to be used in Gazebo.
  </description>
</model>
